# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Exempt Blocks
# The Whitelist
##########################################################################################################

blocks {
    # Please enter blocks to be ignored 1 per entry
    # the format is modid:block_name:dmg
    # If the block has no meta or dmg value then give it a 0
    # example:
    # notenoughscaffold:wooden_scaffold:0
    S:blocks <
        notenoughscaffold:wooden_scaffold:0
        notenoughscaffold:iron_scaffold:0
        minecraft:sand:0
        minecraft:sand:1
        minecraft:gravel:0
     >
}


##########################################################################################################
# debug mode
#--------------------------------------------------------------------------------------------------------#
# Debug Mode
# Enabling this will help you to see what you need to add.
##########################################################################################################

"debug mode" {
    # Default: false
    # No help or proof of anything
    # Enable it for in game spam that is helpful
    B:debugMode=false
}


##########################################################################################################
# nerd pole
#--------------------------------------------------------------------------------------------------------#
# Pole Identification aka what defines the pole?
##########################################################################################################

"nerd pole" {
    # How many blocks tall is a pole before it is considered a nerdpole?
    # 
    # Anything higher than this will cause the pole to be destroyed.
    # 
    # Default: 10
    I:poleHeight=10
}


