# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        Scroll.json
        Scroll2.json
        1ore2res.json
        1res2plant.json
        1plant2ore.json
        2ore2res.json
        2res2plant.json
        2plant2ore.json
        3ore2res.json
        3res2plant.json
        3plant2ore.json
        4ore2res.json
        4res2plant.json
        4plant2ore.json
        5ore2res.json
        5res2plant.json
        5plant2ore.json
        6ore2res.json
        6res2plant.json
        6plant2ore.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


